<a href="https://colab.research.google.com/github/quantummouse/dm_pandas/blob/master/Copy_of_Assignment05.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Assignment for Week 5      
(Chapter 6 & 7)
Alexandria Kalika

## Action Items:      
â€¢	Convert data
1. Work on your selected data set and covert a column of non-categorical type into a categorical type. 
2. Convert another column into a string type. 
3. Post your work on GitHub
4. Add a README file

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [23]:
import pandas as pd
data = pd.read_csv('/content/drive/My Drive/Colab Notebooks/State_Drug_Utilization_Data_2010.csv')
data.head(5)

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (4,19) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

  Utilization Type State  ...             Location          NDC
0             FFSU    WI  ...   (37.768, -78.2057)  17478021420
1             FFSU    NH  ...   (47.5362, -99.793)    409116502
2             FFSU    XX  ...                  NaN    338062904
3             FFSU    TN  ...  (41.6772, -71.5101)  68382009906
4             FFSU    WY  ...  (44.0407, -72.7093)    472091145

[5 rows x 20 columns]

In [3]:
data.dtypes

Utilization Type                   object
State                              object
Labeler Code                        int64
Product Code                        int64
Package Size                       object
Year                                int64
Quarter                             int64
Product Name                       object
Units Reimbursed                  float64
Suppression Used                     bool
Number of Prescriptions           float64
Total Amount Reimbursed           float64
Medicaid Amount Reimbursed        float64
Non Medicaid Amount Reimbursed    float64
Quarter Begin                      object
Quarter Begin Date                 object
Latitude                          float64
Longitude                         float64
Location                           object
NDC                                object
dtype: object

In [12]:
data[['State']].dtypes

State    object
dtype: object

In [15]:
data['State'] = data.State.astype('category')
data[['State']].dtypes

State    category
dtype: object

In [16]:
data.dtypes

Utilization Type                    object
State                             category
Labeler Code                         int64
Product Code                         int64
Package Size                        object
Year                                 int64
Quarter                              int64
Product Name                        object
Units Reimbursed                   float64
Suppression Used                      bool
Number of Prescriptions            float64
Total Amount Reimbursed            float64
Medicaid Amount Reimbursed         float64
Non Medicaid Amount Reimbursed     float64
Quarter Begin                       object
Quarter Begin Date                  object
Latitude                           float64
Longitude                          float64
Location                            object
NDC                                 object
dtype: object

In [21]:
data['Labeler Code'] = data['Labeler Code'].astype(str)
data[['Labeler Code']].dtypes

Labeler Code    object
dtype: object

In [22]:
data.dtypes

Utilization Type                    object
State                             category
Labeler Code                        object
Product Code                         int64
Package Size                        object
Year                                 int64
Quarter                              int64
Product Name                        object
Units Reimbursed                   float64
Suppression Used                      bool
Number of Prescriptions            float64
Total Amount Reimbursed            float64
Medicaid Amount Reimbursed         float64
Non Medicaid Amount Reimbursed     float64
Quarter Begin                       object
Quarter Begin Date                  object
Latitude                           float64
Longitude                          float64
Location                            object
NDC                                 object
dtype: object